---
layout: page
---
<div style="padding-bottom: 3em" >
<img src="/img/logoBigText.png" width="100%" />
</div>

<div class="intro-header no-img" style="margin-top: 3em;">
  <div class="page-heading">
    <h1>Latest News</h1>
  </div>
</div>

<div class="posts-list">
  {% for post in site.posts limit:site.latest-news-count %}
    {% include article.html %}
  {% endfor %}
</div>


{% if site.posts.size > site.latest-news-count %}
<ul class="pager main-pager">
  <li class="next">
    <a href="news">More news &rarr;</a>
  </li>
</ul>
{% endif %}
